@using System.Text
@model IEnumerable<Fifa.Core.Models.UserStats>
@{
    ViewBag.Title = "Games";
}
<h2>History</h2>

<link href="@Url.Content("~/Scripts/JqPlot/jquery.jqplot.min.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/JqPlot/jquery.jqplot.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/JqPlot/plugins/jqplot.dateAxisRenderer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/JqPlot/plugins/jqplot.cursor.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/JqPlot/plugins/jqplot.highlighter.min.js")" type="text/javascript"></script>


@{
    var builder1 = new StringBuilder();
    var builder2 = new StringBuilder();
    
    if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            builder1.AppendFormat(System.Globalization.CultureInfo
                .GetCultureInfo("en-US"), "['{0:dd-MMM-yy}', {1:0.00}],", @item.Game.Date, item.WinRate);
            
            builder2.AppendFormat(System.Globalization.CultureInfo
                .GetCultureInfo("en-US"), "['{0:dd-MMM-yy}', {1:0.00}],", @item.Game.Date, item.Elo);
        }     
    }

    var line1 =  builder1.ToString();
    var line2 = builder2.ToString();
}

<script type="text/javascript">
    $(document).ready(function () {
        
       var line1 = [@MvcHtmlString.Create(line1)];
       var line2 = [@MvcHtmlString.Create(line2)];
        
  var plot1 = $.jqplot('chart1', [line1, line2], {
      title:'Data Point Highlighting',
      axes:{
        xaxis:{
          renderer:$.jqplot.DateAxisRenderer,
            tickOptions:{
            formatString:'%b&nbsp;%#d'
          } 
        },
        yaxis:{
          tickOptions:{
            formatString:'%.2f'
            }
        }
      },
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      cursor: {
        show: false
      }
  });
    });
</script>

<div id="chart1" style="height:300px; width:100%"></div>
<br />
<table>
    <tr>
        <th class="">
            Host
        </th>
        <th>
            Score
        </th>
        <th>
            Guest
        </th>
        <th>
            Date
        </th>
        <th>
            Wins
        </th>
        <th>
            Draws
        </th>
        <th>
            Losses
        </th>
        <th>
            Rate
        </th>
        <th>
            Elo
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="host">
            <text class="@(item.Game.ScoreA == item.Game.ScoreB ? "normal-color" : item.Game.ScoreA > item.Game.ScoreB ? "positive-color" : "negative-color")">@item.Game.PlayerA.Name (@item.Game.TeamA.Name)</text>
        </td>
        <td class="centered">@item.Game.ScoreA : @item.Game.ScoreB</td>
        <td class="guest">
            <text class="@(item.Game.ScoreA == item.Game.ScoreB ? "normal-color" : item.Game.ScoreB > item.Game.ScoreA ? "positive-color" : "negative-color")">@item.Game.PlayerB.Name (@item.Game.TeamB.Name)</text>
        </td>
        <td>
            <text class="@(item.Game.Date >= DateTime.Now.Date ? "today-color" : "old-day-color")">@item.Game.Date.ToString("MMM dd, yyyy")</text>
        </td>
        <td>@item.Wins</td>
        <td>@item.Draws</td>
        <td>@item.Losses</td>
        <td>@item.WinRate</td>
        <td>@item.Elo</td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>