@model IEnumerable<Fifa.Core.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Login
        </th>
        <th>
            Name
        </th>
        <th>
            Games
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
        <th>
            Rate
        </th>
        <th>
            Registration Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.UserStats.Games
        </td>
        <td>
            @item.UserStats.Wins
        </td>
        <td>
            @item.UserStats.Losses
        </td>
        <td>
            @item.UserStats.WinRate
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
