@using Fifa.Core.Helpers
@model IEnumerable<Fifa.Core.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Draws
        </th>
        <th>
            Losses
        </th>
        <th>
            Rate
        </th>
        <th>
            Elo
        </th>
        <th></th>
    </tr>

@for (var i = 0; i < Model.Count(); i++)
{
    var item = Model.ElementAt(i);
    var above = (double)item.UserStats.Elo >= EloCalculator.SteadyRatingLimit;
    <tr class="@(above ? "player-above-limit" : "player-below-limit")">
        <td>
            @(i + 1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>@item.UserStats.Wins</td>
        <td>@item.UserStats.Draws</td>
        <td>@item.UserStats.Losses</td>
        <td>@item.UserStats.WinRate</td>
        <td>@item.UserStats.Elo</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
