@model IEnumerable<Fifa.Core.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Wins
        </th>
        <th>
            Draws
        </th>
        <th>
            Losses
        </th>
        <th>
            Rate
        </th>
        <th>
            Elo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>@item.LastUserStats.Games</td>*@
        <td>@item.LastUserStats.Wins</td>
        <td>@item.LastUserStats.Draws</td>
        <td>@item.LastUserStats.Losses</td>
        <td>@item.LastUserStats.WinRate</td>
        <td>@item.LastUserStats.Elo</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("History", "History", new { id = item.Id })
        </td>
    </tr>
}

</table>
