@model Fifa.WebUi.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">PasswordHash</div>
    <div class="display-field">@Model.PasswordHash</div>

    <div class="display-label">PasswordSalt</div>
    <div class="display-field">@Model.PasswordSalt</div>

    <div class="display-label">RegistrationDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.RegistrationDate)</div>

    <div class="display-label">IsAdmin</div>
    <div class="display-field">@Model.IsAdmin</div>

    <div class="display-label">Identity</div>
    <div class="display-field">@(Model.Identity == null ? "None" : Model.Identity.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


