@using Fifa.WebUi.Helpers
@{
    ViewBag.Title = "Welcome!";
}

<p class="grid_12 centered"><img alt="FIFA-A-A" src="@Url.Image("fifa.png")" width="880" height="510"/></p>
<div class="hr grid_12 clearfix">&nbsp;</div><!-- Caption Line -->
<h2 class="grid_12 caption clearfix centered">Welcome! This is <span>FIFA-A-A</span>, a portal, where <u>statistics</u> &amp; <u>raitings</u> are built <br />for our dear binary football players.</h2>
<div class="hr grid_12 clearfix quicknavhr">&nbsp;</div>

<div id="quicknav" class="grid_12">
    <a class="quicknavgrid_3 quicknav alpha" href="@Url.Action("Index", "Game")">
        <h4 class="title">Games</h4>
        <p>Look at list of our games.</p>
        <p class="centered"><img alt="" src="@Url.Image("ball.png")" /></p>
    </a>
    <a class="quicknavgrid_3 quicknav alpha" href="@Url.Action("Index", "Team")">
        <h4 class="title">Teams</h4>
        <p>Explore our preferred teams. </p>
        <p class="centered"><img alt="" src="@Url.Image("info.png")" /></p>
    </a>
    <a class="quicknavgrid_3 quicknav alpha" href="@Url.Action("Index", "User")">
        <h4 class="title">Players</h4>
        <p>Know our awesome players. </p>
        <p class="centered"><img alt="" src="@Url.Image("Blog_Artdesigner.lv.png")" /></p>
    </a>
    <a class="quicknavgrid_3 quicknav alpha" href="@Url.Action("About", "Home")">
        <h4 class="title">About</h4>
        <p>Meet our outstanding developers.</p>
        <p class="centered"><img alt="" src="@Url.Image("hungry_bird.png")" /></p>
    </a>
</div>