@model Fifa.Models.Game

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Game", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Game</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerAId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayerAId)
            @Html.ValidationMessageFor(model => model.PlayerAId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerBId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PlayerBId)
            @Html.ValidationMessageFor(model => model.PlayerBId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScoreA)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScoreA)
            @Html.ValidationMessageFor(model => model.ScoreA)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScoreB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScoreB)
            @Html.ValidationMessageFor(model => model.ScoreB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeamAId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeamAId)
            @Html.ValidationMessageFor(model => model.TeamAId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TeamBId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TeamBId)
            @Html.ValidationMessageFor(model => model.TeamBId)
        </div>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>