@model IEnumerable<Fifa.Core.Models.Game>
@{
    ViewBag.Title = "Games";
}
<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="games">
    <tr>
        <th class="">
            Host
        </th>
        <th>
            Score
        </th>
        <th>
            Guest
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="host">
            @item.PlayerA.Name (@item.TeamA.Name)
        </td>
        <td class="centered">@item.ScoreA : @item.ScoreB</td>
        <td class="guest">
            @item.PlayerB.Name (@item.TeamB.Name)
        </td>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
