@model IEnumerable<Fifa.Core.Models.Game>
@{
    ViewBag.Title = "Games";
}
<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="games">
    <tr>
        <th style="width:120px;">
            PlayerA
        </th>
        <th style="width:120px;">
            PlayerB
        </th>
        <th style="width:70px;">Score</th>
        <th style="width:120px;">
            TeamA
        </th>
        <th style="width:120px;">
            TeamB
        </th>
        <th style="width:140px;">
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerA.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerB.Name)
        </td>
        <td>@item.ScoreA : @item.ScoreB</td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamA.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamB.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
