@model IEnumerable<Fifa.Core.Models.Game>
@{
    ViewBag.Title = "Games";
}
<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Game Forecast", "Forecast")
</p>
<table>
    <tr>
        <th class="">
            Host
        </th>
        <th>
            Score
        </th>
        <th>
            Guest
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td class="host">
            <text class="@(item.ScoreA == item.ScoreB ? "normal-color" : item.ScoreA > item.ScoreB ? "positive-color" : "negative-color")">@item.PlayerA.Name (@item.TeamA.Name)</text>
        </td>
        <td class="centered">@item.ScoreA : @item.ScoreB</td>
        <td class="guest">
            <text class="@(item.ScoreA == item.ScoreB ? "normal-color" : item.ScoreB > item.ScoreA ? "positive-color" : "negative-color")">@item.PlayerB.Name (@item.TeamB.Name)</text>
        </td>
        <td>
            @item.Date.ToString("MMM dd, yyyy")
        </td>
        <td>
            @Html.ActionLink(item.IsReadOnly ? "View": "Edit", "Edit", new { id=item.Id })
            @if(!item.IsReadOnly)
            {
                <span>| @Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
            }
        </td>
    </tr>
}

</table>
