@using Combres.Mvc

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <title>FIFA - @ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @Html.CombresLink("styles")
        @Html.CombresLink("scripts")
    </head>    <body>
        <div id="wrapper" class="container_12 clearfix">
            <!-- Text Logo -->
            <h1 id="logo" class="grid_4"><a name="top">FIFA</a></h1>
		
            <!-- Navigation Menu -->
            <ul id="navigation" class="grid_8">
                <li><a href="@Url.Action("Index", "Game")"><span class="meta">Get in touch</span><br />Contact Us</a></li>
                <li><a href="blog.html"><span class="meta">Latest news</span><br />Blog</a></li>
                <li><a href="portfolio.html"><span class="meta">Our latest work</span><br />Portfolio</a></li>
                <li><a href="about.html" class="current"><span class="meta">Who are we?</span><br />About</a></li>
                <li><a href="index.html"><span class="meta">Homepage</span><br />Home</a></li>
            </ul>
            
            <div class="hr grid_12 clearfix">&nbsp;</div>
			
            @RenderBody()
		
            <div class="hr grid_12 clearfix">&nbsp;</div>
		
            <!-- Footer -->
            <p class="grid_12 footer clearfix">
                <span class="float"><b>Copyright &copy; <a href="https://github.com/fomaa/FIFA/contributors">FIFA Development Team, 2011</a></b>. Design by <a href="http://www.csstemplatesfree.org/aurelius.html">QwibbleDesigns</a>.</span>
                <a class="float right" href="#top">top</a>
            </p>
		
        </div><!--end wrapper-->
    </body>
</html>