@using Combres.Mvc
@using Fifa.WebUi.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>FIFA-A-A - @ViewBag.Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        @Html.CombresLink("styles")
        @Html.CombresLink("scripts")
    </head>

    <body>
        <div id="wrapper" class="container_12 clearfix">
            <!-- Text Logo -->
            <h1 id="logo" class="grid_4">
                <img src="../../Images/ball_trophy.png" alt="FIFA-A-A Logo"/>
                <a href="@Url.Action("Index", "Home")">FIFA-A-A</a>
            </h1>
		
            <!-- Navigation Menu -->
            <ul id="navigation" class="grid_8">
                @Html.NavigationLink("About Us", "About", "About", "Home")
                @Html.NavigationLink("They're Awesome!", "Players", "Index", "User")
                @Html.NavigationLink("Chosen Teams", "Teams", "Index", "Team")
                @Html.NavigationLink("Played Games", "Games", "Index", "Game")
                @Html.NavigationLink("Main Page", "Home", "Index", "Home")
            </ul>
            
            <div class="hr grid_12 clearfix">&nbsp;</div>
			
            @RenderBody()
		
            <div class="hr grid_12 clearfix">&nbsp;</div>
		
            <!-- Footer -->
            <p class="grid_12 footer clearfix">
                <span class="float"><b>Copyright &copy; <a href="https://github.com/fomaa/FIFA/contributors">
                    FIFA-A-A Development Team, 2011</a></b>. Design by 
                    <a href="http://www.csstemplatesfree.org/aurelius.html">QwibbleDesigns</a>.
                </span>
            </p>
		
        </div><!--end wrapper-->
    </body>

</html>