@model Fifa.WebUi.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Game</legend>

    <div class="display-label">PlayerA</div>
    <div class="display-field">@Model.PlayerA</div>

    <div class="display-label">PlayerB</div>
    <div class="display-field">@Model.PlayerB</div>

    <div class="display-label">TeamA</div>
    <div class="display-field">@Model.TeamA</div>

    <div class="display-label">TeamB</div>
    <div class="display-field">@Model.TeamB</div>

    <div class="display-label">ScoreA</div>
    <div class="display-field">@Model.ScoreA</div>

    <div class="display-label">ScoreB</div>
    <div class="display-field">@Model.ScoreB</div>

    <div class="display-label">Date</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


