@model IEnumerable<Fifa.WebUi.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Any()) 
{
	<table>
		<tr>
			<th></th>
				<th>
				PlayerA
			</th>
				<th>
				PlayerB
			</th>
				<th>
				TeamA
			</th>
				<th>
				TeamB
			</th>
				<th>
				ScoreA
			</th>
				<th>
				ScoreB
			</th>
				<th>
				Date
			</th>
			</tr>

	@foreach (var item in Model) {
		<tr>
				<td>
				@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
				@Html.ActionLink("Details", "Details", new { id=item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id=item.Id })
			</td>
					<td>
				@item.PlayerA
			</td>
				<td>
				@item.PlayerB
			</td>
				<td>
				@item.TeamA
			</td>
				<td>
				@item.TeamB
			</td>
				<td>
				@item.ScoreA
			</td>
				<td>
				@item.ScoreB
			</td>
				<td>
				@String.Format("{0:g}", item.Date)
			</td>
			</tr>
	}

	</table>
} 
else 
{
	<p>There are no items to show.</p>
}


